@page
@model RazorPizzeria.Pages.CheckOut.CheckOutModel
@{
}

<h1>Your order!</h1>
@{
    var imagePath = "~/Images/Pizzas/" + (Model.ImageTitle + ".png");
}
<div class="align-context-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true"/>
        <p>Your order for @Model.PizzaName pizza is ready!</p>
        <p>Total price for your order is: @Model.PizzaPrice $</p>
        <br/>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div> 
</div>